path:hover {
    opacity: 0.8;
}

#doughnut {margin: 0 auto; width: 200px;}
#doughnut-path-0{fill: #5eb582;}
#doughnut-path-1{fill: #d8d8d8;}

#bar {background: #5eb582;}
#bar rect {fill: white;}
#bar text {fill: white;}