#pie text {font-size: 1.5em; fill: coral;}
#pie-driven {fill: lightblue;}
#pie-available {fill: coral;}

#bar rect {fill: lightblue;}
#bar rect.active, #bar rect:hover {fill: coral;}
#bar text {font-size: 1.25em;}
#bar #values-group text {font-size: 1.25em; fill: white; }
#bar #keys-group text {font-size: 1em; fill: #333; }